<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="sidebar" th:fragment="sidebar">

    <div class="logo">
        <h2>🚀 AI Copilot</h2>
    </div>

    <ul class="menu">

        <li>
            <a href="/dashboard" class="active">
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/profile">
                <i class="bi bi-person-fill"></i>
                <span>Profile</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-file-earmark-text-fill"></i>
                <span>Resume</span>
            </a>
        </li>

        <li>
            <a href="/companies">
                <i class="bi bi-building"></i>
                <span>Companies</span>
            </a>
        </li>

        <li>
            <a href="/applications">
                <i class="bi bi-briefcase-fill"></i>
                <span>Applications</span>
            </a>
        </li>

        <li>
            <a href="/resume-analyzer">
                <i class="bi bi-robot"></i>
                <span>AI Tools</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-map-fill"></i>
                <span>Roadmap</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>

</div>
</body>
</html>